@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins' , sans-serif;
}
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top, #65efc9, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    min-height: 82vh;
    width: 85%;
    background: white;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,0.7), 
    rgba(255,255,255,0.3));
    border-radius: 21px;
    z-index: 99999;
    backdrop-filter: blur(2rem);
}
.circle1 , .circle2 {
    height: 17rem;
    width: 17rem;
    position: absolute;
    background: white;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,0.8), 
    rgba(255,255,255,0.3));
    border-radius: 50%;
}
.circle1 {
    top:1%;
    right: 1%;

}
.circle2 {
    bottom :1%;
    left: 2%;
}
